body {
  background-color: rgb(241, 236, 236);
}

.container-top {
  border-style: solid;
  margin-top: 2rem;
  border-radius: 2rem;
  align-items: center;
}
body > div.container-top.flow > div > div:nth-child(1) {
  flex: 1 1 70%;
  background-color: red;
}

body > div.container-top.flow > div > div:nth-child(2) {
  background-color: yellow;
}

body > div.container-top.flow > div > div:nth-child(3) {
  background-color: green;
}

.button {
  justify-content: center;
}
